*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: brown;
    font-family: "Anta", sans-serif;
}
.loginwr{
    position: relative;
    width: 350px;
    height: 390px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    backdrop-filter: blur;
}