*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: brown;
    color: white;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.carromimg1{
    transform: translateY(70px);
}
.intro h1{
    font-weight: 700;
    font-size: 50px;
}
.intro h3{
    color: black;
    font-size: 35px;
}
.logandsign1{
    transform: translateY(150px);
}
.logandsign1 button{
    position: relative;
    width: 120px;
    height: 42px;
    border-color: transparent;
    border-radius: 5px;
    left: 8px;
    background-color: black;
    color: white;
    font-family: "Anta", sans-serif;
    cursor: pointer;
    font-size: 18px;
}
.logandsign1 .signb1{
    background-color: red;
    left: 12px;
}